* {
  box-sizing: border-box;
}

body {
  /* background-color: lightblue; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: none;
  color: gray;
}

header {
  color: white;
  background-color: dodgerblue;
  margin: none;
}
header ul {
  list-style: none;
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header li {
  margin: 0.5rem;
  text-decoration: none;
}
li:nth-child(1) {
  font-size: 2rem;
}

li:nth-child(2) {
  font-weight: bold;
}

header li:hover {
  text-decoration: underline;
}

h1 {
  color: gray;
}

.User-Creation-Section {
  display: flex;
  justify-content: center;
}
.Create-User {
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 3rem;
  /* width: 40%; */
}

button {
  margin: 0.1rem;
}
#Save-Button {
  background-color: dodgerblue;
  color: white;
}

.user-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.user-item {
  width: calc(100% / 3 - 2rem);
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  color: black;
}

@media (max-width: 600px) {
  header ul {
    flex-direction: column;
  }
  .user-list {
    display: flex;
    flex-direction: column;
  }
  .user-item {
    width: 90%;
  }
  .User-Creation-Section {
    width: 90%;
  }
}
